input[type=text], input[type=time], input[type=password], input[type=url], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  table {
    width: 1000px;
  }
  
  th, td {
    border-bottom: 1px solid #ddd;
  }

  div .hiddendiv {
    display: none;
  }

  div:hover .hiddendiv{
    display:block;
  }
